not_git/
error_check.py
grad_check.py
depth_check.py
inv_error_check.py
inv_error_analysis.png
optimization_methods_.py
constant_node_demo.py
igor.py
Feynman_with_units.tar.gz
to_git/datasets/buy.csv
to_git/datasets/new_buy.csv
to_git/datasets_buy/
to_git/check_folder/
to_git/results/
results_from_cluster/


